@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
header{
    padding: 18px 0;
    background-color: #181818;
    border-radius: 0px;
    width: 100%;
    box-sizing: border-box;
    top: 0;
}
.body {
    padding-top: 83px;
}
.container{
    max-width: 1200px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.d_flex{
    list-style: none;
    display: flex;
}
.b_areas{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.f_images{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.g_cage{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.contact{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.g_template{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 9px 20px 13px;
}
.nav_marg0{
    margin-left: 340px;
}
.nav_marg1{
    margin-left: 56px;
}
.nav_marg2{
    margin-left: 32px;
}
.nav_marg3{
    margin-left: 31px;
}
.b_ground{
    max-width: 580px;
    text-align: center;
    color: #FFFFFF;
}
.m_section{
    background-image: url('../images/background_main.jpg');
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}
.m_section h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.m_section h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.m_section p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    padding: 18px
}


.fixed_location{
    position: absolute;
    right: 40px;
    bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}
.fixed_location li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
    display: flex;
    align-items: center;
}
.fixed_location li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.fixed_location li:nth-child(2):before{
    background-image: url("../images/icon2.svg");
}
.fixed_location li:nth-child(3):before{
    background-image: url("../images/icon3.svg");
    width: 32px;
}
.fixed_location li:nth-child(4):before{
    background-image: url("../images/icon4.svg");
    width: 10px;
}

.sunset .sub_container {
    max-width: 298px;
    margin-right: 62px;
}
.sunset{
    background-image: url("../images/background_mountain.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.sunset h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.leafs {
    background-image: url("../images/monstera_leafs.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.leafs .sub_container2{
    max-width: 273px;
    margin-right: 87px;
}
.leafs h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.leafs p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.star_fall{
    background-image: url("../images/star_fall_in_the_himalayas.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.star_fall .sub_container3{
    max-width: 241px;
    margin-right: 80px;
}
.star_fall h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.star_fall p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.past_clients {
    max-height: 500px;
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 140px;
}
.past_clients_center {
    max-width: 1168px;
    margin: auto;
    text-align: center;
}
.past_clients h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.past_clients p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 111px;
}
.past_clients_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.getintouch{
    height: 414px;
    background-color: #000000;
}
.t_centre{
    max-width: 571px;
    text-align: center;
    margin: auto;
    padding: 113px 434px;
}
.getintouch h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.getintouch p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-top: 15px;
    padding-bottom: 22px;
}

.nav_marg4 {
    margin-top: 31px;
}
.g_touch{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    align-items: center;
}
.getintouch a:before{
    content: "";
    display: inline-block;
    background-color: #000000;
    width: 32px;
    height: 32px;
    border-radius: 12.5833px;
    margin-right: 7px;
}